@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://aka.ms/mipsdkdocs">building apps with the Microsoft Information Protection SDK</a>.</p>
</div>

